<aside class="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-menu">
      <li class="sidebar-menu-item">
        <%= link_to "バリデーションテキスト生成", root_path, class: "sidebar-link #{'active' if current_page?(root_path)}" %>
      </li>
      <li class="sidebar-menu-item">
        <%= link_to "柔軟なデータ生成", "#", class: "sidebar-link" %>
      </li>
      <li class="sidebar-menu-item">
        <%= link_to "シンプルなダミーデータ生成", "#", class: "sidebar-link" %>
      </li>
      <li class="sidebar-menu-item">
        <%= link_to "テストクラス分析サポート", "#", class: "sidebar-link" %>
      </li>
    </ul>
  </nav>
</aside>
